*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}


header{
    height: 60px;
    background-color: rgb(236, 85, 229);
    margin: 1%;
}

.secondoblocco{
    height: 300px;
    background-color: rgb(201, 157, 100);
    margin: 1%;
}

.conteiner{
    height: 600px;
    background-color: rgb(41, 108, 231);
    margin: 1%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.box-top { 
    width: auto;
    height: 10%;
    background-color: rgb(130, 206, 206);
}

.box-left{

    width: 20%;
    height: 86%;
    background-color: rgb(130, 206, 206);
    float:left;
    margin: 1% 1% 0 0;
}

.box-center{
    width: 56%;
    height: 86%;
    background-color: rgb(130, 206, 206);
    float: left;
    margin: 1% 1% 1% 1%;
}

.box-right{
    width: 20%;
    height: 86%;
    background-color: rgb(130, 206, 206);
    float:right;
    margin: 1% 0 2% 0;
}


footer{
    height: 50px;
    background-color: rgb(94, 5, 102);
    margin: 0 1%;
}

